Table{
background-color:coral;
border: 1px;
width: 100%;
font: arial;
font-size: 200%;
color: blue

}
thead,th{
 width: 100%;
 font-weight: bolder;  
 margin-left: 10px;
 text-align: middle;
}
div {
margin-top: auto;
margin-left: 20px;
margin-bottom: auto;
margin-right: 20px;
background-color: darkgrey;
}
.apidata{
    background-color: gold;
    font: var(auto);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}