
<div class="formadd">
  <table>
    <tr>
        <td>  <label title="Id">Id</label></td><td> <input type="text" class="form-control" id="id"  required  [(ngModel)]="model.Id" name="id"></td>
    </tr>

    <tr>
        <td>  <label title="Id">Name</label></td><td> <input type="text" class="form-control" id="name"  required  [(ngModel)]="model.Name" name="name"></td>
    </tr>    <tr>
        <td> <label title="Id">Address</label></td><td> <input type="text" class="form-control" id="address"  required  [(ngModel)]="model.Address" name="address"></td>
    </tr>    <tr>
        <td> <label title="Id">City</label></td><td> <input type="text" class="form-control" id="city"  required  [(ngModel)]="model.City" name="city"></td>
    </tr>    <tr>
        <td> <label title="Id">Region</label></td><td> <input type="text" class="form-control" id="region"  required  [(ngModel)]="model.Region" name="region"></td>
    </tr>    <tr>
        <td>  <label title="Id">Zipcode</label></td><td><input type="text" class="form-control" id="postalcode"  required  [(ngModel)]="model.PostalCode" name="postalcode"></td>
    </tr>    <tr>
        <td><label title="Id">Phone</label></td><td> <input type="text" class="form-control" id="phone"  required  [(ngModel)]="model.Phone" name="phone"></td>
    </tr>    <tr>
        <td>  <label title="Id">Email</label></td><td> <input type="text" class="form-control" id="email"  required  [(ngModel)]="model.Email" name="email"></td>
    </tr>    <tr>
        <td></td><td><button type="button" (click)="addcustomer()">Add a Customer</button></td>
    </tr>    <tr>
        <td></td><td> <label title="Id" id="notify"> {{notify}}</label></td>
    </tr>

  </table>
 
    
    
</div>